.btn{
    margin-top: 20px;
    margin-left: 20px;
    height: 40px;
    width: 120px;
    border-radius: 6px;
    background-color: light grey;
    border: none ;
}

.btnDir{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 40px;
}

p{
    margin-left: 70px;
}